/** Add css rules here for your application. */

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

body, td, a, div, .p {
    font-family: arial, sans-serif
}

.gwt-Button {
    margin: 15px !important;
}

.gwt-Label {
    font-size: 35px;
    padding: 5px;
}

.field_error{
    background-color: red;
    width: 100px;
}
.field_ok{
    background-color: transparent;
    width: 100px;
}